#root {
  width: 100vh;
  margin: 0 auto;
  padding: 0;
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.content {
  flex: 1;
  padding: 2em;
  overflow: auto;
}
